*{
	margin: 0px;
	padding:0px;
}
a{
	text-decoration-line: none;
	color: #7d7d7d;
}
ul{
	list-style:none; 
}
.biggest{
	width:1300px;
	margin:0px auto;
}
.clear{
	clear:both;
}
.logo{
	float: left;
}
.logo div{
	float: left;
}
.logo img{
	float: left;
	margin-left: 90px;
	margin-right: 120px;
}
.logo p{
	float: left;
}
.tele{
	color: #0b4199;
	margin-right: 42px;
	font-size:18px;
}
.red{
	color: #ef2c34;
	margin-left: 16px;
	padding-right: 16px;
	background:url(../images/xiajiantou_03.png) no-repeat right; 
}
.denglu{
	border-right:solid 1px #c5c5c5;
	border-left: solid 1px #c5c5c5;
	padding-right: 6px;
	padding-left: 6px; 
	margin-left:16px;
	margin-right: 12px; 
}
.withp{
	float: left;
	margin-top: 22px;
}
.daohang ul{
	margin-left: 60px;
	float: left;
}
.daohang li{
	float: left;
	margin: 22px 16px 14px 10px;
}
.daohang li a:hover{
	background-color:#2756a4;
	color:#fff;
}
.daohang a{
	color: #333333;
	font-size: 15px;
	padding:16px 8px;
}
.daohang input{
	background-color: #ebeaea;
	width: 266px;
    border: 1px solid #e2e2e2;
    height: 30px;
}
.search{
	float: left;
	margin-top: 16px;
    margin-left: 80px;
	position: relative;
}
.search a{
	padding: 0px;
	position: absolute;
	top:-5px;
	left: 230px;
}
.search img{
	width: 42px;
	height: 44px;
}
.banner img{
	width:1300px;
	margin-bottom:-4px;
}
.between{
	background-color: #ebeaef;
	padding-top: 12px;
}
.chanpinjujiao{
	background-color: #e2e2e2;
	height:60px;
	margin-left: 54px;
	margin-right: 54px;
	margin-bottom: 40px;
}
.chanpinjujiao p{
	background:url(../images/jianjiao.png) no-repeat; 
	line-height: 60px;
	width: 127px;
	padding-left:18px; 
	font-size: 18px;
	font-weight: bolder;
	float: left;
}
.chanpinjujiao a{
	margin: 22px 22px 22px 593px;
	float: right;
}
.AV4501{
	width: 1300px;
	height: 316px;
}
.big{
	font-size: 28px;
	float: left;
	margin-left: 108px;
	margin-right: 26px;
	margin-bottom: 56px;
}
.little{
	padding-top: 5px;
	font-size: 18px;
	margin-bottom: 36px;
	float: left;
}
.little span{
	line-height: 30px;
}
.zhuyao{
	font-size: 18px;
	float: left;
	margin-left: 110px;
	font-weight: bolder;
}
.AV4501{
	padding-bottom: 10px; 
}
.AV4501 ul{
	float: left;
	line-height: 30px;
	color:#7d7d7d;
	margin-left: 36px;
}
.AV4501 li{
	font-size:14px;
	list-style-position: inside;
	list-style-image: url(../images/liebiaoxiang.png);
}
.AV4501 img{
	float: right;
	margin-right: 50px;
	margin-left: 30px;
	height: 326px;
	width:auto;
}
.AV4501 a{
	color:white;
}
.AV4501 button{
	margin-left: 110px;
	margin-top:40px;
	border-radius: 4px;
	width: 77px;
	height: 27px;
	background:url(../images/anniu.png) no-repeat right;
	border:none;
	color:#fff;
	font-size: 12px;
	padding-right:18px; 
}
.three{
	background-color: #fff;
	margin-left: 54px;
	margin-right:54px;
	margin-bottom: 12px;
}
.third{
	float: left;
	margin-top:40px; 
	margin-right: 90px;
	margin-left: 18px;
}
.third2{
	float: left;
	margin-top:40px; 
	margin-right: 66px;
	margin-left: 18px;
}
.left{
	float: left;
	margin-left: 50px;
	margin-top: 160px;
}
.right{
	float: left;
	margin-right: 30px;
	margin-top: 160px;
}
.three a{
	color: #000;
	font-weight: bolder;
}
.one{
	margin-left: 190px;
	margin-right: 62px;
	display: inline-block;
}
.bet{
	margin-right: 62px;
	margin-left: 110px;
	display: inline-block;
}
.last{
	margin-left: 80px;
	margin-right: 72px;
	display: inline-block; 
}
.other1{
	color: #9b9b9b;
	float: left;
	font-size: 14px;
	margin-left: 120px;
	margin-bottom: 20px;
	list-style-image:url(../images/liebiaoxiang.png); 
}
.second{
	font-size: 14px;
	margin-left:90px;
	float: left;
	color: #9b9b9b;
	list-style-image:url(../images/liebiaoxiang.png); 
}
.other2{
	color: #9b9b9b;
	float: left;
	font-size: 14px;
	margin-left: 170px;
	list-style-image:url(../images/liebiaoxiang.png);
}
.xinwenzhongxin{
	background-color: #e2e2e2;
	height:60px;
	margin-left: 54px;
	margin-right: 54px;
}
.xinwenzhongxin p{
	background:url(../images/jianjiao.png) no-repeat; 
	line-height: 60px;
	width: 127px;
	padding-left:18px; 
	font-size: 18px;
	font-weight: bolder;
	float: left;
}
.xinwenzhongxin a{
	margin: 22px 22px 18px 593px;
	float: right;
}
.xinwen{
	background-color:#fff;
	margin-left: 54px;
	margin-right: 54px;
	margin-bottom: 12px;
	padding-bottom:10px; 
}
.zuo{
	margin-left: 16px;
	height: 524px;
	width: 540px;
	display: inline-block;
}
.zuo img{;
	width: 540px;
	margin-bottom: 15px;
	height: auto;
}
.zuo h5,h4,form{
	display: inline-block;
}
.zuo h5{
	margin-bottom: 10px;
}
.zuo p{
	font-size: 15px;
	color: #7d7d7d;
	line-height: 26px;
	display: inline-block;
}
.zuo button{
	width: 77px;
	height: 27px;
	margin-left: 450px;
	background:url(../images/anniu.png) no-repeat right;
	border:none;
	border-radius: 4px;
	font-size: 12px;
	color:#fff;
	padding-right:18px; 
}
.you{
	width: 520px;
	height: 300px;
	float: right;
	margin-left: 60px;
	margin-right: 28px;
}
.you h4,p{
	display: inline-block;
}
.you h4{
	margin-top: 14px;
	margin-bottom: 34px;
	margin-right: 30px;
}
.day{
	font-size: 14px;
	color: #d7d7de;
}
.duan{
	font-size: 15.5px;
	color: #7d7d7d;
}
.oner{
	padding-left: 95px;
	margin-bottom: 12px;
	background: url(../images/01.png) no-repeat left;
}
.twor{
	padding-left: 95px;
	margin-bottom: 12px;
	background: url(../images/02.png) no-repeat left;
}
.threer{
	padding-left: 95px;
	background: url(../images/03.png) no-repeat left;
}
.threer h4{
	margin-right: 120px;
}
.you button{
	width: 77px;
	height: 27px;
	margin-top:10px;
	margin-left: 340px;
	background:url(../images/anniu.png) no-repeat right;
	border:none;
	border-radius: 4px;
	font-size: 12px;
	color:#fff;
	padding-right:18px; 
}
.zuixinhuodong{
	background-color:#fff;
	height: 330px;
	margin-left: 54px;
	margin-right: 54px;
}
.zuo2{
	margin-left: 16px;
	width: 560px;
	float: left;
}
.zuo2 img{
	width: 318px;
	float: left;
}
.zuo2 p{
	width: 200px;
	font-size: 14px;
	line-height: 26px;
	color: #7d7d7d;
	margin-left: 30px;
}
.zuo2 h4{
	width: 202px;
	margin-top:14px;
	margin-left: 30px;
	margin-bottom: 50px;
}
.zuo2 button{
	width: 77px;
	height: 27px;
	margin-top:10px;
	margin-left: 460px;
	background:url(../images/anniu.png) no-repeat right;
	border:none;
	border-radius: 4px;
	font-size: 12px;
	color:#fff;
	padding-right:18px; 
}
.you2{
	width: 550px;
	height: 300px;
	float: right;
	margin-right: 28px;
}
.you2 img{
	width: 318px;
	float: left;
}
.you2 p{
	width: 200px;
	font-size: 14px;
	line-height: 26px;
	color: #333333;
	margin-left: 30px;
}
.you2 h4{
	width: 202px;
	margin-top:14px;
	margin-left: 30px;
	margin-bottom: 12px;
}
.you2 button{
	width: 77px;
	height: 27px;
	margin-left: 470px;
	background:url(../images/anniu.png) no-repeat right;
	border:none;
	border-radius: 4px;
	font-size: 12px;
	color:#fff;
	padding-right:18px; 
}
.blue{
	background-color:#0b4199;
	height: 74px;
}
.phone{
	float: left;
	margin-left: 60px;
	margin-top: 18px;
	color: white;
}
.footer{
	float: left;
	margin-left:154px;
	margin-top: 18px;
	color: white;
}
.phone img{
	float: left;
}
.footer img{
	float: left;
}
.blue p{
	margin-top: 5px;
}
.else{
	float: right;
	color:white;
	margin-top: 24px;
	margin-right: 58px;
}
.else img{
	height: 30px;
	float:left;
}
.else p{
	float: left;
}
.blank{
	background-color: #454545;
	height: 310px;
	color: #dbdbdb;
}
.zuo3{
	width: 800px;
	margin-top: 50px;
	padding-top: 34px;
	padding-right: 30px;
	float: left;
	border-right: solid 1px #525252;
}
.float{
	float: left;
	font-size: 14px;
	margin-left: 70px;
}
.float ul{
	margin-top: 24px;
	font-size: 14px;
	line-height: 20px;
}
.blank a{
	color: #dbdbdb; 
}
.you3{
	float: left;
	width: 400px;
	margin-top: 50px;
	margin-left: 20px;
}
.you3 img{
	margin-right: 200px;
	width: 152px;
	height: 53px;
}
.you3 p{
	float: left;
	font-size: 15px;
}
.kong1{
	margin-right: 150px;
}
.kong2{
	margin-top: 20px;
	width: 270px;
}
.kong3{
	width: 250px;
}
.kong4{
	margin-top: 20px;
	margin-right: 50px;
}
.kong5{
	margin-top: 2px;
	margin-right: 50px;
}
.bottom{
	float: left;
	font-size: 12px;
	margin-top: 52px;
}
.bot1{
	margin-left: 90px;
	margin-right: 12px;
}
.bot2{
	margin-right: 262px;
}
.bot3{
	margin-left: 74px;
}
.cebian{
	width: 85px;
	background-color: #b0b0b0;
	position: fixed;
	top:130px;
	right: 0px;
}
.ce1{
	border-bottom:dashed 1px white; 
}
.ce1 img{
	margin-top: 14px;
	margin-left: 16px;
}
.ce1 p{
	margin-left: 9px;
	color: white;
	margin-bottom: 6px;
}
.ce2 img{ 
	margin-top: 22px;
	margin-left: 28px;
	margin-bottom: 10px;
}
.ce2 p{
	font-size: 13px;
	color: #8a8a8a;
	padding-top:4px;
	padding-bottom:4px;  
	padding-left: 6px;
	width: 78px;
	background-color: #a4a4a4;
}